<div class="col-sm-8">
  <h2>Welcome to the Animal Shelter Project!</h2>
If you own a shelter or are a volunteer looking to sign up for hours, please sign in!<br>
Otherwise, please feel free to browse different animal shelters nationwide.<br><br>
</div>

<div class='shelters container'>
  Shelters:

  <ul><br />
    <% @shelters.each do |shelter| %>
      <p><%= link_to shelter.name, shelter_path(shelter) %>
    <% end %>
    </ul>

  <%= link_to 'New Shelter', new_shelter_path %>
</div>
